{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Inloggen{% endblock %}</h1>
{% endblock %}

{% block content %}
<body style="background-color: rgb(239,237,234);">
  <h1 class="pt-5 adobe-garamond-pro-2">Voer je e-mailadres en je wachtwoord in om je aan te melden</h1>
  <div style="background-color: white" id="primary" class="mt-5 w-75 container-fluid">
    <div>
      <div class="row">
        <div class="col">
          </button>
          <span class="icon-my-rituals"></span>
          <form method="post">
            <fieldset>
              <div class="form-group pt-3">
                <label>E-mailadres</label>
                <input class="form-control" type="email" name="emailaddress" placeholder="E-mailadres" required />
              </div>
              <div class="form-group">
                <label>Wachtwoord</label>
                <input class="form-control" type="password" name="password" autocomplete="off" placeholder="Wachtwoord…" required />
              </div>
              <a style="color: rgb(186,126,96);" id="password-reset" tabindex="0" href="#reset-password" title="Verzoek om je wachtwoord opnieuw in te stellen">
                Wachtwoord vergeten?
              </a>
              <style>
                .btn-custom:hover {
                background-color: white;
                color: black;
                }
                .open-sans {
                font-family: "Open Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 350;
                font-style: normal;
                font-variation-settings:
                  "wdth" 100;
                }
                .btn-height {
                  height: 45px;
                }
              </style>
              <div class="form-group d-flex justify-content-center pb-3">
                <button type="submit" class="btn btn-block w-75 btn-custom btn-dark rounded-0 open-sans btn-height mt-3" style="font-size: 11px; letter-spacing: 2px;" tabindex="0">
                  DOORGAAN
                </button>
              </div>
              <input name="emailadress" type="hidden" value />
              <input name="dwfrm_login_checkoutflow" type="hidden" value="false" />
              <input name="dwfrm_login_ajaxloading" type="hidden" value="false" />
              <input type="hidden" name="csrf_token" value="ALRkH1GGswf7VQNFpVgxxxpS3_4ctsjqGi0DWHZZasQeLUapzPGd7UHkieJyZ-IRz2dboRHYPFyADKbJMwePZar_3j5bwG2ZQUYClK3K-gCJtXabkmFKZK-Cway4zUKQ6fIGOxIProQ7dDqNP1kY_p7dBvI2EVKF4KEOYoS3j5rACzaTJzY=" />
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> 
</body>
{% endblock %}
