# This file tells Docker to ignore certain files and directories in the image
# General ref: https://docs.docker.com/build/building/context/#dockerignore-files

__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.gitignore

# Directories
.idea/
.vscode/
.git/
.venv/
__pycache__/
docs/
# Local data directory:
**/portainer_data
**/db_data
