{% extends 'base.html' %}

{% block header %}
  <!-- Title and add store button -->
  <h1 class="text-dark">{% block title %}Winkels{% endblock %}</h1>
  <a href="{{ url_for('auth.register') }}"
     class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg bg-blue-600 text-white hover:bg-blue-700">
    <svg class="flex-shrink-0 w-3 h-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="none">
      <path d="M2.63452 7.50001L13.6345 7.5M8.13452 13V2" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
    </svg>
    Winkel toevoegen
  </a>
{% endblock %}

{% block content %}
  <!-- Store information table -->
  <div class="table-responsive">
    <table class="table text-dark">
      <thead>
        <tr>
          <th>
            <a href="{{ url_for('auth.register') }}">+</a>
          </th>
          <th>Filiaalnummer</th>
          <th>Straatnaam</th>
          <th>Plaatsnaam</th>
          <th>Emailadres</th>
          <th>Telefoonnummer</th>
          <th>Wijzigen</th>
          <th>Verwijderen</th>
        </tr>
        <!-- Search form -->
        <tr>
          <td colspan="7">
            <form action="{{ url_for('handler.delivery') }}" method="get">
              <input type="text" name="q" placeholder="Search">
              <input type="submit" value="Search">
            </form>
          </td>
        </tr>
      </thead>
      <tbody>
        {% for store in stores %}
          <tr>
            <td></td>
            <td>{{ store['branchnumber'] }}</td>
            <td><a style="color: black;" href="{{ url_for('handler.agenda', branchnumber=store['branchnumber']) }}">{{ store['name'] }}</a></td>
            <td>{{ store['userLocation'] }}</td>
            <td>{{ store['emailaddress'] }}</td>
            <td>{{ store['telephonenumber'] }}</td>
            <td><a style="color: black;" href="{{ url_for('auth.edituser', branchnumber=store['branchnumber']) }}">Wijzigen</a></td>
            <td><a style="color: black;" href="{{ url_for('auth.deleteuser', branchnumber=store['branchnumber']) }}">Verwijderen</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}