body {
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #000000;
        }
        .login-choice {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 400px;
            height: 200px;
            background-color: #232323;
            border: 1px solid #000000;
            border-radius: 10px;
        }
        .login-option {
            width: 150px;
            height: 150px;
            text-align: center;
            line-height: 150px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .login-option:hover {
            background-color: #131212;
        }