
h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
}
li {
    display: inline;
  }
.main {
    padding-left: 100px;
    padding-right: 100px;
    text-align: left;
}
nav {
	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: transparent;
	border-bottom: 1px solid #000000;  
    text-align: center;
    font-size: 26px;
    color: rgb(0, 0, 0);
}

input {
    width: 60%;
  }

  button{
    background-color: darkblue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  table {
    width: 100%;
  }
  td.fitwidth {
    width: 1px;
    white-space: nowrap;
}
#more {
  background:none;
  background-color: darkblue;
  border:none;
  color:#FFF;
  font-family:Verdana, Geneva, sans-serif;
  cursor:pointer;
  border-radius: 18px;
  -moz-border-radius: 5px;
  float: right;
  margin-left: 2px;
  margin-right: 2px;
}

html, 
body {
    height: 100%; 
    background-color: #000000;
    background-size:cover;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}
a, a:link, a:visited {
  color: black;
}

tr.clicked {
  background-color: #abc;
}

#alignleft
{
  text-align: left;
  align-content: start;
}

th {
  background-color: #545454;
  color: white;
  font-size: 20px;
}

#div-bottom {
  position: absolute;
  bottom: 60px;
  left: 10px;
  margin: 0 auto;
  justify-content: center;
  -ms-transform: translateX(+100%);
  transform: translateX(+100%);
}

#clicked{
  background-color: aqua;
}
.container {
  height: 60%;
  overflow-y: scroll;
 }

 .notification {
  position: absolute;
  right: 0;
  padding: 10px;
  background-color: #ded8d8; /* Red background color */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  border-radius: 2px; /* Rounded corners */
  z-index: 1; /* Make it appear on top */
}