<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/agenda.css')}}"/>
  <title>Outlook-stijl Kalender</title>
</head>
<body>
    <div class="calendar">
      <div class="calendar-header">Maart 2024</div>
      <div class="calendar-days">
        <div class="day">Ma</div>
        <div class="day">Di</div>
        <div class="day">Wo</div>
        <div class="day">Do</div>
        <div class="day">Vr</div>
        <div class="day weekend">Za</div>
        <div class="day weekend">Zo</div>
        <a class="day" href="controltower">1</a>
        <a class="day" href="controltower">2</a>
        <a class="day" href="controltower">3</a>
        <a class="day" href="controltower">4</a>
        <a class="day" href="controltower">5</a>
        <div class="day weekend">6</div>
        <div class="day weekend">7</div>
        <a class="day" href="controltower">8</a>
        <a class="day" href="controltower">9</a>
        <a class="day" href="controltower">10</a>
        <a class="day" href="controltower">11</a>
        <a class="day" href="controltower">12</a>
        <div class="day weekend">13</div>
        <div class="day current-day">14</div>
        <a class="day" href="controltower">15</a>
        <a class="day" href="controltower">16</a>
        <a class="day" href="controltower">17</a>
        <a class="day" href="controltower">18</a>
        <a class="day" href="controltower">19</a>
        <div class="day weekend">20</div>
        <div class="day weekend">21</div>
        <a class="day" href="controltower">22</a>
        <a class="day" href="controltower">23</a>
        <a class="day" href="controltower">24</a>
        <a class="day" href="controltower">25</a>
        <a class="day" href="controltower">26</a>
        <div class="day weekend">27</div>
        <a class="day" href="controltower">28</a>
        <a class="day" href="controltower">29</a>
        <a class="day" href="controltower">30</a>
        <a class="day" href="controltower">31</a>
      </div>
    </div>
  </body>
  </html>
</body>
</html>
