{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ul>

<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../static/img/image-001.png" class="img-fluid rounded mx-auto d-block w-100 h-100" alt="Image Sea">
    </div>
    <div class="carousel-item">
      <img src="../static/img/image-002.png" class="img-fluid rounded mx-auto d-block w-100 h-100" alt="Image White">
    </div>
    <div class="carousel-item">
      <img src="../static/img/image-003.png" class="img-fluid rounded mx-auto d-block w-100 h-100" alt="Image Black & Gold">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
</div>
</div>

<div class="row">
  <div class="col" style="background-color: white;">
    <h1 class="text-center pt-5 pb-5">Welkom bij Rituals</h1>

    <div class="row" style="background-color: rgb(250,249,247);">
        <p class=" text-center pb-5 pt-5 w-75 col-12">
          We zijn verheugd om ons afleverschema met u te delen, zodat u een duidelijk inzicht krijgt in wanneer uw winkel voorraad zal ontvangen. Ons toegewijde team werkt nauw samen met onze leveranciers om ervoor te zorgen dat uw winkel regelmatig wordt bevoorraad met onze hoogwaardige producten</p>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}